<!DOCTYPE html>
<html>
	<head>
		<title>Password Strength Checker</title>
	</head>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/jquery-1.9.0.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/additional-methods.js"></script>
	<body>
		<div id="content">
			<h1 id="site_name">Password Strength Checker</h1>
			<h3>I am so grateful to Eng. <a href="https://twitter.com/mkhDev" target="_blank">Mazen :)</a></h3>
			<nav>
			  <ul>
				<li>
					<a href="http://www.rwaq.org" target="_blank">RAWQ.ORG</a><br/>
				</li>
				<li>
					<a href="http://www.rwaq.org/courses/introduction-to-web-development" target="_blank">
						Introduction to web progamming by Ruby Language
					</a><br>
				</li>
				<li>
					<a href="https://github.com/maxwolf929/password_checker.git" target="_blank">
					Download the project for distributing or development
					</a>
				</li>
			  </ul>
			</nav>
			<br/>
			<form id="form1" method="post" action="/show_result">
			
				Enter your password:<input type="password" name="your_password">
				<input type="submit" value="Ok">
				</form>
				
			<script> 
				$(document).ready(function () {

					$('#form1').validate({ // initialize the plugin
						rules: {
						your_password: {
							required: true,
							minlength: 6
						}
					}
				  });
				});
			</script>
			
			<footer>
				<h4>All rights are reserved, MaxWolf929</h4>
				<a href="mailto:maxwolf929@gmail.com">Contact Me</a>
			</footer>
		</div>	
	</body>
</html>