<!DOCTYPE html>
<html>
	<head>
		<title>Password Strength Checker</title>
	</head>
	<style>
		body{
			
			background-color: lightblue;
		}
		#content{
			border: 1px solid blue;
			width: 728px;
			background-color: #ffffff;
			padding: 20px;
			margin: 0 auto;
		}
		#site_name{
			border-bottom: 3px solid red;
			padding-bottom: 20px;
		}
		footer{
			text-align: center;
		}
		
		.my_posts{
			font-size: 18px;
			margin: 50px;
		}
		a{
			text-decoration:none;
			font-size:18px;
			color:darkred;
		}
		a:hover{
			color:lightblue;
		} 
		a:active{
		color:#0000FF;
		}
	</style>
	<body>
		<div id="content">
			<h1 id="site_name">Password Strength Checker</h1>
			<h3>I am so grateful to Eng. Mazen :)</h3>
			
			<form method="post" action="/show_result">
					<input type="password" name="your_password">
					<input type="submit" value="Ok">
				</form>
			
			
			<footer>
				<h4>All rights are reserved, MaxWolf929</h4>
				<a href="mailto:maxwolf929@gmail.com">Contact Me</a>
			</footer>
		</div>	
	</body>
</html>