<!DOCTYPE html>
<html>
	<head>
		<title>Password Strength Checker</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>
		<div id="content">
			<h1 id="site_name">Password Strength Checker</h1>
			
			<%= @result %>
			<br><br>
			<a href="/">Home Page</a>
		
			<footer>
				<h4>All rights are reserved, MaxWolf929</h4>
				<a href="mailto:maxwolf929@gmail.com">Contact Me</a>
			</footer>
		</div>	
	</body>
</html>